.sliderBlock {
    width: 320px;
    margin: 8px 40px;
}

.container {
    display: block;
}

.selectedArea {
    background-color: #ff4784 !important;
}

.container .slider::-webkit-slider-thumb {
    background: #96CBFE !important;
}